// ion-content{
//     --background: #E7C556;
// }

// ion-toolbar{
//     --background: #E79256;
// }
css
.mi-elemento {
  font-family: 'Sanse', sans-serif;
}
ion-input{
   width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #b0b0b0;
  --border-radius: 25px;
  --color: black;
  --font-size: 1em;
}

ion-select{
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #b0b0b0;
  --border-radius: 25px;
  --color: black;
  --font-size: 1em;
}

ion-button{
    margin-left: 20px;
}