.bg-gradient {
  background: linear-gradient(to bottom right, #ff416c, #ff4b2b);
  color: white;
}
.profile-header {
  text-align: center;
  padding: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.profile-info {
  padding: 20px;
}

.profile-info ion-list {
  margin-bottom: 20px;
}

.profile-info ion-item {
  --inner-padding-start: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery-col {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 5px;
  box-sizing: border-box;
}


.gallery-col ion-img:hover {
  transform: scale(1.05);
}




