// ion-content{
//     --background: #E7C556;
// }

// ion-toolbar{
//     --background: #E79256;
// }
ion-textarea{
    --background: white;
}
.containercheck{
    color:white
}



.custom-textarea-item {
    --highlight-color-focused: #3880ff;
    --color: #000;
    --background: #f0f0f0;
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  .custom-textarea {
    --padding-top: 10px;
    --padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
  
  ion-textarea::part(native) {
    padding: 10px;
  }
  
  .custom-textarea-item.ion-focused {
    --highlight-color-focused: #3dc2ff;
    --background: #e0f7fa;
  }
  
  .custom-textarea:focus {
    outline: none;
    border: 2px solid #3880ff;
  }
  h1{
    color:white;
  }
  ion-checkbox{
    color:white;
  }