// ion-content{
//     --background: #E7C556;
// }

// ion-toolbar{
//     --background: #E79256;
// }

ion-button{
    margin-left: 120px;
}
h3{
    margin-left: 50px;
}
h6{
    margin-left: 10px;
}
ion-input{
    width: 100%;
   max-width: 350px;
   margin-bottom: 20px;
   --padding-start: 10px;
   --padding-end: 10px;
   --background: #b0b0b0;
   --border-radius: 25px;
   --color: black;
   --font-size: 1em;
  }
 .botoncito{
    
   
    margin-left: 2000px;}