

ion-button{
    margin-left: 120px;
    font-family: estres;
}
h3{
    margin-left: 50px;
    font-family: estres;
}
h6{
    margin-left: 10px;
    font-family: estres;
}
ion-input{
    width: 100%;
   max-width: 350px;
   margin-bottom: 20px;
   --padding-start: 10px;
   --padding-end: 10px;
   --background: #b0b0b0;
   --border-radius: 25px;
   --color: black;
   --font-size: 1em;
   font-family: estres;
  }

ion-card-title{
    font-family: estres;
}

.custom-border-button {
    border: 5px solid #acacac; 
    border-radius: 10px; 
    padding: 0px 0px; 
    background-color: transparent; 
    color:white; 
    font-size: 16px; 
    cursor: pointer; 
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s; 
    margin: 0px;
  }
  ion-button{
    margin: 0;
    font-family: estres;
  }
  .custom-border-button:hover {
    background-color:#acacac; /* Cambia el color de fondo al pasar el mouse */
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
  }

  .toolbar-title {
    display: flex;
    align-items: center;
  }
  
  .toolbar-icon {
    margin-right: 10px; 
  }
  .toolbar-logo {
    height: 50px; 
 
  }