h1{
    color: white;
    font-family: estres;
}

ion-button{
    font-family: estres;
}
.custom-divider {
    border: 0;
    height: 1px;
    background: #ccc; /* Color de la línea */
    margin: 16px 0; /* Margen para separar los select */
  }
swiper-container{
    width: 100%;
    height: 100%;
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #0054e9);
}
swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
swiper-container::part(bullet-active) {
   --background-color: rgb(255, 0, 0);
  }
  