<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Roomies
        <ion-icon name="home-outline"></ion-icon>
      </ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content class="bg-gradient" [fullscreen]="true">
    <ion-grid>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <br>
      <h1 (click)="perfil()">Mi perfil</h1>
      <hr class="custom-divider">
      <h1 (click)="mensajeria()">Mensajes</h1>
      <hr class="custom-divider">
      <h1>Inicio</h1>
      <hr class="custom-divider">
      <h1>Terminos y condiciones</h1>
      <hr class="custom-divider">
      <h1>soporte</h1>
      <hr class="custom-divider">
      <h1>Configuración</h1>
    </ion-grid>
  </ion-content>
  <ion-button (click)="cerrarSesion()">Cerrar Sesión</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Roomies<ion-icon name="home-outline"></ion-icon></ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg-gradient" [fullscreen]="true">
    <h2>Bienvenido "nombre de usuario"</h2>


    <div class="users" *ngIf="users.length > 0;else emptyTemplate">
      <div class="user" *ngFor="let user of users;let i= index;" [style.zIndex]="users.length - i"
        (touchstart)="touchStart($event)" (touchmove)="touchMove($event,i)" (touchend)="touchEnd(i)" id="{{'card-'+i}}">
        <ion-card>
          <ion-card-content mode="md" >
            <img src="{{user.img}}" alt="">
            <ion-item lines="none">
              <ion-label>
                <h2>
                  {{user.name}}
                </h2>
                <p>
                  {{user.age}},{{user.descripcion}}
                </p>
              </ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>


      </div>
      <ion-icon name="heart-dislike" class="icon" color="danger" id="reject-icon"></ion-icon>
      <ion-icon name="heart" class="icon" color="primary" id="accept-icon"></ion-icon>
    </div>
    <ng-template #emptyTemplate>
      <div class="center">

        <ion-icon name="checkmark-circle"></ion-icon>
        <br>
        <ion-note>All swiped!</ion-note>

      </div>
    </ng-template>
  </ion-content>
</div>