h1{
    color: white;
    font-family: estres;
}

ion-button{
    font-family: estres;
}
.custom-divider {
    border: 0;
    height: 1px;
    background: #ccc; /* Color de la línea */
    margin: 16px 0; /* Margen para separar los select */
  }

::-webkit-scrollbar{ 
 display: none;
}
.users{
position: relative;
height: calc(100vh - 56px);
display: flex;
align-items: center;
justify-content: center;
} 

.user{
    position: absolute;

    ion-card{
        position: relative;
        border-radius: 16px;

        ion-content{
            padding: 0;

            img{
                width: 100vw;
                height: 75vh;
                border-radius: 16px;
                object-fit: cover;
                object-position: top;
                mask-image:  linear-gradient(to bottom,#000000,#000000, transparent);
            
            }
            ion-item{
                --padding-start:0px;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
                --background:transparent;
            
            ion-label{
                h2{
                    font-size:xx-large;
                }
                p{
                    font-size:large;
                }
            }
            
            
            
            }
        }
     
    }
    .icon{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index:20;
        opacity:100;
        font-size: 100px;
    }
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100% ;
    text-align: center;
    
    ion-icon{
        font-size:45px;
    }
  
}