<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Roomies
        <ion-icon name="home-outline"></ion-icon>
        </ion-title>
    
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg-gradient" [fullscreen]="true">
    <ion-grid>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <br>
      <h1 (click)="perfil()" >Mi perfil</h1>
      <hr class="custom-divider">
      <h1>Mensajes</h1>
      <hr class="custom-divider">
      <h1>Inicio</h1>
      <hr class="custom-divider">
      <h1>Terminos y condiciones</h1>
      <hr class="custom-divider">
      <h1>soporte</h1>
      <hr class="custom-divider">
      <h1>Configuración</h1>
    </ion-grid>
  </ion-content>
  <ion-button (click)="cerrarSesion()" >Cerrar Sesión</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Roomies<ion-icon name="home-outline"></ion-icon></ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg-gradient" [fullscreen]="true" >
    <h2>Bienvenido "nombre de usuario"</h2> 
  <swiper-container
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image" />
    </swiper-slide>
    
 
  </swiper-container>
  

  </ion-content>
</div>