



ion-img{
    margin: 0; 
    padding: 0; 

}



 .registrateAqui{
     margin-left: 110px;
     justify-content: center;
     align-items: center;
     font-family: estres;
     color:white;
 }

 .restContrasena{
    margin-left: 65px;
     justify-content: center;
     font-family: estres;
     align-items: center;
     color:white;
 }


  .welcome-title {
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }



  

ion-content {
  --background: url('/assets/img/fondo2.jpg') no-repeat center center/cover;

  .imagenredondeada img {
    border-radius: 5%;
    width: 200px;
    height: 200px;
}


  .toolbar-logo {
    height: 250px; 
    width: auto;
    display: block;
    margin: 0 auto; 
  }
  
  ion-card {
    padding: 0; /* Elimina padding */
    margin-top: -150px; /* Remueve el margen superior */
      box-shadow: none;
      border-radius: 20px;
      transform: translateY(45%);
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(8px);
      div.lock {
          font-size: 5rem;
          ion-icon {
              color: #2F4073;
          }
      }
      ion-item {
          --border-radius: 10px;
      }
      ion-input, .fwd {
          font-size: 0.9rem;
      }
      .submit {
          margin-top: 2rem;
          ion-button {
              --background: linear-gradient(to right,#2F4073,#66A3D9);
          }
          ion-text {
              font-size: 1rem;
          }
      }
  }

}

