<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon  (click)="back()" name="arrow-back-outline"></ion-icon>
      Roomies
      <ion-icon name="home-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="bg-gradient" [fullscreen]="true">
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Buscas un compañero de cuarto?</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <h1>Cuentanos sobre ti...</h1>
        <br>
        <ion-item class="custom-textarea-item">
          <ion-label position="floating">Tu mensaje</ion-label>
          <ion-textarea placeholder="Escribe aquí..." class="custom-textarea" auto-grow="true"></ion-textarea>
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
        </ion-item>
        <div class="containercheck">
          <h1>¿Cuánto pagarías por una habitación?</h1>
          <br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="uno" (ionChange)="checkBoxPrecio(1)">Menos de 100.000 </ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="dos" (ionChange)="checkBoxPrecio(2)">Entre 100.001 y 200.000</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="tres" (ionChange)="checkBoxPrecio(3)">Entre 200.001 y 300.000</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="cuatro" (ionChange)="checkBoxPrecio(4)">Entre 300.001 y 400.000</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="cinco" (ionChange)="checkBoxPrecio(5)">Más de 400.001</ion-checkbox>
          <br>
          <br>
          <h1>¿Tienes mascotas ?</h1>
          <br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="perro" (ionChange)="checkBoxMascota(1)">Perro </ion-checkbox><br>
          <ion-checkbox labelPlacement="end"[(ngModel)]="gato" (ionChange)="checkBoxMascota(2)">Gato</ion-checkbox><br>
          <ion-checkbox labelPlacement="end"[(ngModel)]="pajaro" (ionChange)="checkBoxMascota(3)">Pájaros</ion-checkbox><br>
          <ion-checkbox labelPlacement="end"[(ngModel)]="gallina" (ionChange)="checkBoxMascota(4)">Gallinas</ion-checkbox><br>
          <ion-checkbox labelPlacement="end"[(ngModel)]="tortuga" (ionChange)="checkBoxMascota(5)">tortuga</ion-checkbox><br>
          <ion-checkbox labelPlacement="end"[(ngModel)]="hamster" (ionChange)="checkBoxMascota(6)">Hamster</ion-checkbox><br>
          <ion-checkbox labelPlacement="end"[(ngModel)]="conejo" (ionChange)="checkBoxMascota(7)">Conejo</ion-checkbox><br>
          <ion-checkbox labelPlacement="end"[(ngModel)]="sinAnimal" (ionChange)="checkBoxMascota(8)">No tengo Mascotas</ion-checkbox>
          <br>
          <br>
          <h1>¿Te gusta hacer ejercicios?</h1>
          <br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="unoDeporte" (ionChange)="checkBoxDeporte(1)">Todos los días</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="dosDeporte" (ionChange)="checkBoxDeporte(2)">Más de tres días a la semana</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="tresDeporte" (ionChange)="checkBoxDeporte(3)">Menos de tres días a la semana</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="cuatroDeporte" (ionChange)="checkBoxDeporte(4)">No hago ejercicios</ion-checkbox>
          <br>            <br>
          <h1>¿Cuáles son tus preferencias alimentarias?</h1>
          <br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="vegetariano" (ionChange)="checkBoxComida(1)">Vegetariano</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="vegano" (ionChange)="checkBoxComida(2)">Vegano</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="carnivoro" (ionChange)="checkBoxComida(3)">Carnivoro</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="pescetariano" (ionChange)="checkBoxComida(4)">pescetariano</ion-checkbox>
          <br>
          <br>
          <h1>¿Cada cuánto tiempo fumas?</h1>
          <br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="unoCigarro" (ionChange)="checkBoxCigarro(1)">Todos los días</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="dosCigarro" (ionChange)="checkBoxCigarro(2)">Más de tres días a la semana</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="tresCigarro" (ionChange)="checkBoxCigarro(3)">Menos de tres días a la semana</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="cuatroCigarro" (ionChange)="checkBoxCigarro(4)">Solo en eventos sociales</ion-checkbox><br>
          <ion-checkbox labelPlacement="end" [(ngModel)]="cincoCigarro" (ionChange)="checkBoxCigarro(5)">No fumo</ion-checkbox>
          <br>
        </div>
      </ion-card-content>
    </ion-card>
  <ion-button (click)="registrar()" fill="solid" color="dark"expand="block">Registrar</ion-button>
  </ion-grid>
</ion-content>