

.elegant-header {
  background: linear-gradient(45deg, #2F4073, #66A3D9);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.elegant-header h1 {
  color: #fff;
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.toolbar-title {
  display: flex;
  align-items: center;
}

.toolbar-icon {
  margin-right: 10px; 
}
.toolbar-logo {
  height: 50px; 

}

.custom-textarea-item {
    --highlight-color-focused: #3880ff;
    --color: #000;
    --background: #f0f0f0;
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  .custom-textarea {
    --padding-top: 10px;
    --padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    
    font-size: 16px;
  }
  
  ion-textarea::part(native) {
    padding: 10px;
  }
  
  .custom-textarea-item.ion-focused {
    --highlight-color-focused: #3dc2ff;
    --background: #e0f7fa;
  }
  
  .custom-textarea:focus {
    outline: none;
    border: 2px solid #3880ff;
  }
 

 

  .custom-border-button {
    border: 5px solid #acacac; 
    border-radius: 10px; 
    padding: 0px 0px; 
    background-color: transparent; 
    color:white; 
    font-size: 16px; 
    cursor: pointer; 
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s; 
  }
  ion-button{
    margin: 0;
    
  }
  .custom-border-button:hover {
    background-color:#acacac; 
    color: #ffffff;
  }
  .custom-radio-group ion-radio {
    font-size: 1.5em; 
  }
  
  .containercheck h1, .custom-radio-group ion-radio {
    font-size: 1.9em;
  }
  .custom-divider {
    border: 0;
    height: 1px;
    background: #ccc; /* Color de la línea */
    margin: 16px 0; /* Margen para separar los select */
  }