<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="toolbar-title">
      <ion-icon (click)="back()" name="arrow-back-outline" class="toolbar-icon"></ion-icon>
      <img src="assets/img/logo1.jpeg" alt="Logo" class="toolbar-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-grid>
    <ion-card>
      
    <p>
        TÉRMINOS LEGALES Y CONDICIONES GENERALES DE USO DEL SITIO WEB ROMMIES
    </p><br>
    <p>
      PRIMERO: GENERALIDADES.
      El presente documento, elaborado con fecha 3 de julio de 2024, regula los términos y condiciones generales aplicables al acceso y uso que el Usuario realizará del Sitio Web: ROMMIES (en adelante "ROMMIESAPP", "ROMMIES" o "el Sitio Web" indistintamente), así como a cualquier tipo de información, contenido, imagen, video, audio u otro material comunicado o presente en el Sitio Web.
      Para efectos del presente documento se entenderá como "Sitio Web": la apariencia externa de los interfaces de pantalla, tanto de forma estática como de forma dinámica, es decir, el árbol de la navegación: y todos los elementos integrados tanto en los interfaces de pantalla como en el árbol de navegación (en adelante, "Contenidos") y todos aquellos servicios o recuerdos en línea que en su caso ofrezca a los usuarios (en adelante,
      "servicios").
    </p><br>
    <p>
      ROMMIESAPP se reserva la facultad de modificar, en cualquier momento, y sin previo aviso, la presentación y configuración del Sitio Web y de los Contenidos y Servicios que en él pudieran estar incorporados. El Usuario reconoce y acepta que en cualquier momento ROMMIESAPP pueda interrumpir, desactivar y/o cancelar cualquiera de estos elementos que se integran en el Sitio Web o el acceso a los mismos.
      El acceso y uso del sitio web y del contenido relacionado o anexo, descrito en el presente documento, se regirá íntegramente por las leyes de la República de Chile. Por consiguiente, las visitas que el usuario realice en la plataforma que representa el sitio web, así como los efectos jurídicos que éstas pudieran tener, quedan sometidos a las leyes y a la jurisdicción de los tribunales de justicia de la República de Chile. De particular importancia resultan la aplicación de la Ley N” 19.628 de Protección de Datos Personales y la Ley N 19.496 sobre Derechos del Consumidor.
      Adicionalmente, este sitio web y sus contenidos, están destinados únicamente a personas con residencia o domiciliadas en Chile, sea que éstas sean chilenos o extranjeros.
      Por lo mismo, ROMMIESAPP no puede asegurar a personas que no cumplan con los requisitos previamente descritos, que el Sitio Web vaya a cumplir, total o parcialmente, con legislaciones extranjeras. Asf, ROMMIESAPP nose hace responsable en aquellos casos en que Usuarios extranjeros, sin residencia ni domicilio en Chile, tengan acceso o procedan a navegar en el Sitio Web.
      Se recomienda al usuario leer detenidamente el contenido de estos Terminos y Condiciones Generales de Uso, asf como imprimir y conservar una copia de estas en una unidad de disco local de almacenamiento, o de almacenamiento portatil, para su conveniencia y seguridad.
      SEGUNDO.- INFORMACION DEL SITIO WEB ROMMIES.
      La titularidad de ROMMIESAPP corresponde a 	 Cedula Nacional de ldentidad numero: 15603958-K.
    </p><br>
    <p>
      Adicionalmente, para efectos de cualquier tipo de comunicaci6n, presentaci6n, consulta o reclamo relacionados con el uso o funcionamiento del Sitio Web, ROMMIESAPP recibira todo tipo de comunicaciones al correo electr6nico: ka.alvarez.duocuc.cl, asf como al numero de telefono: +56975567850, el cual solo estara disponible para efectos de funciones de Servicio al Cliente. --	se encuentra domiciliado(a) para estos efectos en Vicuna Mackenna 4917, comuna de San Joaquin.
      TERCERO.- USUARIO.
      El acceso a este Sitio Web, la navegaci6n y uso del mismo, asf como cualquier espacio habilitado para interacciones entre Usuarios, o entre este y el Sitio Web (secciones de comentarios, espacios de blogging y micro blogging, y extensiones destinadas a esta funci6n), conferiran a las personas la condici6n de "Usuario". Por lo tanto, se entienden aceptar los Terminos y Condiciones Presentes en este documento desde el momento de acceder al Sitio Web o a sus contenidos, asf como tambien todo tipo de futuras modificaciones que se hicieran a los Terminos y Condiciones, sin perjuicio de lo que pudiera establecer futura legislaci6n dictada en la Republica de Chile destinada a regular esta clase de documentos, o que fuera aplicable al uso de Sitios Web.
      Adicionalmente, el acceso al Sitio Web por parte del Usuario tendra un caracter libre y gratuito, sin que este tenga que pagar por acceder al sitio o sus contenidos, mas alla del costo de la conexión a internet, en los casos que correspondiera.
      Registro del Usuario.
      Será requisito necesario para el uso del Sitio Web la aceptación de los presentes Términos y Condiciones al momento del registro por parte del Usuario. Adicionalmente, el Usuario deberá designar una clave o contraseña de acceso.
      Se entenderán conocidos y aceptados estos Términos y Condiciones por el sólo hecho de registrarse el Usuario, acto en el cual se incluirá una manifestación expresa del Usuario sobre el conocimiento de las presentes condiciones de uso.
      El registro de cada Usuario se verificará completando y suscribiendo el formulario que para estos efectos se proporcionará por parte del Sitio Web, así como su posterior envío, el cual se concretará por medio de hacer "click" el Usuario en el elemento respectivo dentro del Sitio Web.
      Clave Secreta.
      Una vez registrado, el Usuario tendrá a su disposición un nombre de usuario y una contraseña o clave secreta, por medio de los cuales no sólo podrá ingresar al Sitio Web y tener acceso a sus contenidos, sino también un acceso personalizado, confidencial y seguro. El Usuario tendrá la posibilidad de cambiar su contraseña o clave secreta, para lo cual existirá un procedimiento regulado dentro del Sitio Web y su estructura.
      El Usuario asume totalmente su responsabilidad por el mantenimiento de la confidencialidad de su contraseña o clave secreta registrada en el Sitio Web. Dicha contraseña o clave es de uso personal, por lo que su entrega voluntaria a terceros por parte del Usuario, no acarrea ningún tipo de responsabilidad por parte de ROMMIESAPP, ni de sus afiliados y representantes, en caso de uso malicioso.
    </p>
    
      
      
      <ion-button (click)="aceptar()" fill="solid" color="dark"expand="block">Aceptar</ion-button>
      </ion-card>

  </ion-grid>

</ion-content>